@charset 'UTF-8';
/***********************************************************
                           GENERAL
***********************************************************/
/* body, a:hover {cursor: url(http://cur.cursors-4u.net/others/oth-1/oth24.cur), progress !important;} */

.h4, h4 {
    margin-top: 24px;
    margin-bottom: 10px;
}
hr {
    width: calc(100% + 4em);
    height: 10px;
    margin-left: -2em;
    border: none;
    background: url('../images/backgrounds/trampoline_divider.png') center/ 100% no-repeat;
}
.vcenter-md {
    /*Centers content vertically on desktops. See desktop.css*/
    display: block;
}
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.revealOnScroll {
    opacity: 0;
}
.revealOnScroll.animated {
    opacity: 1;
}
a.break {
    word-wrap: break-word;
    word-break: break-all;
}
a.no-ul {
    text-decoration: none;
    color: black;
}
.id-link {
    position: absolute;
    /*So that the nav bar doesnt cover content when jumping to an id link*/

    margin-top: -50px;
}
.embed-responsive {
    padding-bottom: 56.25%;
}
.embed-bounding-box {
    max-width: 560px;
}
/* Animations */
.animation-delay-1 {
    -webkit-animation-delay: 0.1s !important;
            animation-delay: 0.1s !important;
}
.animation-delay-2 {
    -webkit-animation-delay: 0.2s !important;
            animation-delay: 0.2s !important;
}
.animation-delay-3 {
    -webkit-animation-delay: 0.3s !important;
            animation-delay: 0.3s !important;
}
.animation-delay-4 {
    -webkit-animation-delay: 0.4s !important;
            animation-delay: 0.4s !important;
}
.animation-delay-5 {
    -webkit-animation-delay: 0.5s !important;
            animation-delay: 0.5s !important;
}
.fadeInDownSmall {
    display: block;
    -webkit-animation-name: FadeInDownSmall;
            animation-name: FadeInDownSmall;
}
@Keyframes FadeInDownSmall {
    0% {
        -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
                transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
/*Emojione 1.5.0*/
.emojione {
    font-size: inherit;
    line-height: normal;
    display: inline-block;
    width: 3.1ex;
    min-width: 20px;
    height: 3ex;
    min-height: 20px;
    margin: -0.2ex 0.15em 0.2ex;
    vertical-align: middle;
}
img.emojione {
    width: auto;
}

/***********************************************************
                           HEADER
***********************************************************/
.header-UCD-crest {
    position: absolute;
    width: 10%;
    margin-top: 10px;
    margin-left: 10px;
}
.header-UCD-crest img {
    /*Respect the crest container width*/
    max-width: 100%;
}
.header-login-btns {
    position: absolute;
    z-index: 2;
    right: 0;
    min-width: 20%;
}
.header-logo {
    height: 0;
    padding-bottom: 36.7%;
    background: url('../images/backgrounds/mheader.jpg') 0 0 /100% no-repeat;
    background-color: #fff;
}
.header-logo-image {
    width: 100%;
}
#login-error {
    display: none;
    padding-bottom: 5px;
    color: red;
}
/***********************************************************
                           BACKGROUNDS
**********************************************************
/*Contains all content incl navbar */
.background-container {
    position: relative;
    min-height: 1000px;
    word-wrap: break-word;
    word-break: break-word;
}
.background-sides {
    position: absolute;
    z-index: 2; /*This layer is above .content*/
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /*This allows mouse events to pass through. VERY IMPORTANT*/
    background: url('../images/backgrounds/msidestop.png') 0 0/100% no-repeat,
    /*url('../images/backgrounds/sidestop.png') bottom left/100% no-repeat;*/
    url('../images/backgrounds/msidesrepeat.png') 0 0/100% repeat-y;
}
.background-wood {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/backgrounds/mwood.jpg') top center/ 92% repeat-y;
}
.scrollToNav {
    position: absolute;
    width: 5%;
    height: 100%;
    cursor: pointer;
}
.content {
    position: relative;
    margin: 0 5%;
    padding-top: 50px;
}
/***********************************************************
                           FOOTER
***********************************************************/
footer {
    overflow-x: hidden;
}
footer img {
    width: 100%;
}
/***********************************************************
                           NAVBAR
***********************************************************/
.navbar-yellow {
    position: absolute;
    z-index: 1; /*So it stays on top of homepage image slider*/
    top: 0;
    width: 100%;
    min-height: 50px;
    background: rgb(252,235,78);
    background: -webkit-linear-gradient(top, rgba(252,235,78,1) 0%, rgba(255,204,0,1) 100%);
    background: linear-gradient(to bottom, rgba(252,235,78,1) 0%, rgba(255,204,0,1) 100%);
    background-color: #fc0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceb4e', endColorstr='#ffcc00', GradientType=0 );
}
.navbar-fixed {
    position: fixed;
    width: 90%;
    box-shadow: 0 4px 8px 2px rgba(9,9,9,0.4);
}
.navbar-brand {
    height: 40px;
    color: black;
}
.navbar-brand:hover {
    color: black;
}
/*Styles for menu button which shows up on mobiles*/
.navbar-toggle .icon-bar {
    background-color: #666;
}
.navbar-toggle {
    border-color: rgba(255,204,0,1);
}
.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: rgba(255,204,0,1);
}
.navbar-ul-yellow {
    font-size: 1.1em;
    font-weight: bold;
}
.navbar-ul-yellow > li {
    display: inline-block;
    width: 49%;
    text-align: center;
}
.navbar-ul-yellow > li > a {
    padding: 7px 0;
    color: black;
}
.navbar-ul-yellow > li > a:hover, .navbar-ul-yellow > li > a:focus {
    -webkit-animation: hop 0.2s both;
            animation: hop 0.2s both;
    background-color: transparent;
}
@-webkit-keyframes hop {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes hop {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
/*Dont color in dropdown links when meanu is open/active*/
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}
.caret {
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.open .caret {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
}
/*Give dropdown white backgound. For when nested in mobile*/
.navbar-nav .open .dropdown-menu {
    background-color: #fff;
}
/*Give dropdown menus focus outline. Disabled by default?*/
.dropdown-toggle:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
}
.dropdown-menu > li > a:hover {
    background-color: #e8e8e8;
}
.dropdown-menu .divider {
    margin: 4px 0;
}
/***********************************************************
                           CONTENT
***********************************************************/
.content-padding {
    padding: 1em;
}
/***********************************************************
                           NEWS
***********************************************************/
.full-width {
    margin: -1.2em;
    margin-bottom: 0;
}
.gallery {
    position: relative;
    overflow-y: hidden;
    /*Makes sure the slider is up against the edge of the trampoline*/

    width: calc(100% + 2.2em);
    height: 200px;
}
.gallery-cell {
    width: 100%;
    height: 100%;
}
.gallery-cell img {
    width: 100%;
}
.flickity-prev-next-button {
    display: none;
}
.slider-caption {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 5px;
    color: #fff;
    background: rgba(0,0,0,0.4);
}
.slider-feature {
    display: none;
}
.slider-transition {
    -webkit-transition: all 1s;
            transition: all 1s;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
}
.is-selected .slider-transition {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
.greetings-list {
    padding-left: 18px;
    list-style-type: none;
}
.greetings-list li::before {
    position: absolute;
    left: 20px;
    content: '- ';
}

.social-icon {
    font-size: 20px;
    line-height: 38px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: solid 2px black;
    border-radius: 20px;
}
a.social-icon:hover {
    /*border-color: transparent;*/
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    color: black !important;
    background-color: transparent;
}
.soi-twitter {
    background-color: #00acee;
}
.soi-facebook {
    background-color: #0173b2;
}
.soi-youtube {
    background-color: #e52d27;
}
.soi-instagram {
    background-color: #9e7144;
}
.soi-snapchat {
    overflow: hidden;
}
.soi-snapchat img {
    vertical-align: inherit;
}
.news-item {
    margin-bottom: 2em;
}
.news-item__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid grey;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.news-item__title {
    font-size: 18px;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.news-item__details {
    white-space: nowrap;
}
.news-item__content {
    margin-left: 1em;
}
/***********************************************************
                           ABOUT
***********************************************************/
.committee-years {
    float: right;
    text-align: right;
}
/* Coach section */
.coach {
    width: calc(50% - 10px);
    margin: 0 10px 1em 0;
}
@media (min-width:560px) and (max-width: 768px) {
    .coach {
        width: 160px;
    }
}
.coach__thumb {
    width: 75%;
    border-radius: 5px;
}
/***********************************************************
                           EVENTS
***********************************************************/
.timeline {
    width: 100%;
    margin: 10px;
    border-top: 1px solid grey;
}
.timeline-link span {
    display: inline-block;
}
.anticlockwise span {
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
.clockwise span {
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
}
.anticlockwise a:nth-child(even) {
    display: none;
}
.clockwise a:nth-child(odd) {
    display: none;
}
.timeline-link .dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}
.anticlockwise .dot {
    top: 20.5px;
}
.clockwise .dot {
    top: -20.5px;
}
.timeline-link:hover .dot {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    background-color: #1975f4;
}
.events-gallery {
    margin-top: 1em;
    text-align: center;
}
.event-thumbnail-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 40%;
    height: 110px;
}
.event-thumbnail-image {
    height: 100%;
}
.event-thumbnail-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 4px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    text-align: center;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}
.event-thumbnail-link:hover .event-thumbnail-caption {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
/***********************************************************
                           FORUM
***********************************************************/
.bug-404 {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px 0 10px 4.5%;
    -webkit-transform: translateX(5%);
        -ms-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
    width: 5%;
    overflow: hidden;
    opacity: 0;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.bug-404:hover {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 10%; /*Photos width (33px) + Padding-left (10px) = 43*/
}
.bug-404 img {
    height: 2em;
}
.forum-header-404 {
    border: 1px solid purple;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.forum-header-404 audio {
    max-width: 100%;
}
.forum-notice {
    border-color: #ccc;
    background-color: #fff;
}
.forum-post-inputs {
    margin-bottom: 4px;
}
.forum-user {
    margin-bottom: 4px;
}
/*Forum buttons*/
.post-form .btn.pull-right,
.reply-form .btn.pull-right {
    margin-left:4px;
}
.btn-post {
    margin-bottom: 4px;
}
.btn-post img {
    height: 100%;
}
.btn-toggle-upload:after {
    content: 'Files...';
}
.btn-toggle-formatting:after {
    content: 'Help';
}
.btn-link-stats:after {
    content: 'Stats';
}
.btn-toggle-push {
    width: 34px;
    height: 34px;
    padding: 0;
    opacity: 0;
    display: none;
}
.btn-toggle-push.fadeIn {
    display: inline-block;
}
.btn-toggle-push img {
    width: 100%;
    height: 100%;
}
.btn-send-me-push {
    opacity: 0;
}
/*EMOJI STYLES*/
.emoji-tabs {
    overflow: auto;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
}
.emoji-tabs li {
    display: inline-block;
    float: none;
}
.emoji-tabs__title [class*=emojione-] {
    font-size: 21px;
}
.emoji-tabs__title--ucdtc img {
    height: 1.9em;
}
.emoji-tab__list {
    font-size: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}
.emoji-icon {
    display: inline-block;
    margin: 0 5px 5px 0;
    margin: 4px;
    cursor: pointer;
}
.emoji-icon:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(53, 172, 255, 0.5);
}
.emoji-icon:active {
    outline: none;
    box-shadow: 0 0 0 2px #ff8111;
}
/*UCDTC SMILIES*/
#ucdtc-smilies .emoji-icon {
    min-width: 1.1em;
    text-align: center;
}
#ucdtc-smilies .emoji-icon img {
    max-width: 100%;
}
/*Jquery upload button*/
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileinput-button input {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
}
/*Push notifications toggle*/
.material-checkbox__label {
    position: relative;
    width: 36px;
    height: 14px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    border-radius: 100px;
    background: #898989;
}
.material-checkbox__label:after {
    position: absolute;
    top: -3px;
    left: -2px;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}
.material-checkbox__label:active:after {
    -webkit-transform: scale(1.15, 0.85);
        -ms-transform: scale(1.15, 0.85);
            transform: scale(1.15, 0.85);
}
.material-checkbox__box:checked ~ label {
    background: #6fbeb5;
}
.material-checkbox__box:checked ~ label:after {
    left: 20px;
    background: #179588;
}
.material-checkbox__box:disabled ~ label {
    pointer-events: none;
    background: #d5d5d5;
}
.material-checkbox__box:disabled ~ label:after {
    background: #bcbdbc;
}
/**/
.table--formatinghelpfirst {
    margin-bottom: 0;
    border-bottom-width: 0;
}
.well {
    padding: 0;
}
/* Forum posts text styling */
.forum-big-text {
    font-size: 1.17em;
}
.forum-secret-color {
    color: rgba(255, 255, 255, 0.5);
}
.forum-original-emoji {
    min-width: 1.1em;
    max-width: 100%;
    min-height: 1.1em;
    text-align: center;
}
/*Post form*/
textarea {
    max-width: 100%;
}
/*Post styles*/
.forum-post {
    margin-bottom: 3em;
}
.post-header {
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}
.post-header-actions {
    float: right;
}
.forum-post-delete img {
    height: 1.1em;
    vertical-align: text-top;
}
.post-replies .post-message {
    margin-left: 1em;
}
/*Added by regex in functions.php*/
.post-image {
    display: block;
    max-width: 600px;
}
.post-image img {
    width: 100%;
}
.post-like-btn {
    float: right;
    padding: 0;
    background-color: transparent;
}
.post-like-btn:focus, .post-like-btn:active, .post-like-btn:active:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}
.post-like-img {
    width: 1.3em;
    height: 1.3em;
}
.post-like-img.liked {
    -webkit-transition: all 2s;
            transition: all 2s;
    -webkit-filter: gray;
            filter: gray;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    /*filter: url(desaturate.svg#greyscale);*/
}
.post-replies, .post-footer {
    margin-left: 1em;
}
.post-replies .post-header {
    margin-top: 10px;
}
.post-replies .post-header-name {
    /*font-weight: normal;*/
    /*font-style: italic;*/
}
.btn-reply {
    font-size: 85%;
    margin-left: -2em;
}
.new-post-notification {
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    padding: 15px;
    opacity: 0;
    color: white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
}
.new-post-notification div {
    cursor: pointer;
}
.new-post-notification div:hover {
    text-decoration: underline;
}

/* .highlight {
    border-radius: 4px;
    background-color: rgba(255,204,0,0.8);
}
.fade-highlight {
    -webkit-animation: fade-highlight 3s both;
            animation: fade-highlight 3s both;
}
@-webkit-keyframes fade-highlight {
    0% {
        background-color: rgba(255,204,0,0.8);
    }
    100% {
        background-color: transparent;
    }
}
@keyframes fade-highlight {
    0% {
        background-color: rgba(255,204,0,0.8);
    }
    100% {
        background-color: transparent;
    }
} */
/***********************************************************
                           GALLERY GRID
***********************************************************/
.gallery-grid {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.gallery-grid-item {
    position: relative;
    /*display: inline-block;*/
    width: 49%;
    margin-bottom: 10px;
    /*margin-bottom: 2%;*/
}
.gallery-grid-item__link {
    /*font-size: 1em;*/
}
.gallery-grid-item__thumb {
    width: 100%;
}
.gallery-grid-item__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}
.gallery-grid-item__caption-comments {
    float: right;
}
/***********************************************************
                           GALLERY EVENT
***********************************************************/
.event-title {
    display: inline;
}
.event-info {
    display: inline;
    float: right;
    text-align: right;
}
.gallery-event-thumb {
    position: relative;
    display: inline-block;
    width: calc(33% - 8px);
    margin: 4px;
    padding-bottom: 33%;
    background-position: 50% 25%;
    background-size: cover;
}
.gallery-event-commnent-count {
    font-size: 0.6em;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin: 0.1em;
    padding: 0 0.7em;
    color: black;
    background: url('../images/pages/gallery/comment.png') center/1.9em auto no-repeat;
}
/*Comment pannel stuff*/
.comments-pannel {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 30%;
    padding: 5px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    background: #eee;
}
.comments-pannel.show {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
/*Dont show form on mobile*/
.comment-form-inputs, .btn-comment {
    display: none;
}
.comment-form-inputs.showForm, .btn-comment.showForm {
    display: inline-block;
}
.comment-form-inputs {
    margin-bottom: 4px;
}
.comment-user {
    margin-bottom: 4px;
}
.comment-error {
    display: none;
}
.btn-showHide-form {
    width: 100%;
}
.btn-showHide-form.showForm {
    width: 30%;
}
.btn-comment {
    width: 68%;
}
.comments-image-index {
    margin-top: 0.3em;
    text-align: center;
}
.comments-loading {
    text-align: center;
}
/***********************************************************
                           PAGES
***********************************************************/
.btn-edit-page {
    position: fixed;
    z-index: 2;
    right: 1px;
    bottom: -1px;
    border-radius: 4px;
}
.js-editor-running {
    display: none;
}
.ace_editor {
    z-index: 0;
    min-height: 80vh;
}
/***********************************************************
                           EVERYTHING ELSE
***********************************************************/
.ee-thumb-link {
    text-align: center;
}
.ee-thumb-link img {
    display: inline-block;
    max-width: 100%;
    max-height: 300px;
}
#games img {
    width: 100%;
    max-width: 300px;
    padding: 0.3em;
}

.ask-a-tramp__image {
    width: 100%;
}
.ask-a-tramp__error {
    width: calc(100% - 135px);
    text-align: center;
}
/***********************************************************
                           ASK A TRAMP
***********************************************************/
.btn-aat {
    width: 100%;
}
.tabs--aat {
    padding: 0;
    padding-bottom: 1em;
    list-style: none;
    text-align: center;
}
.tabs--aat li {
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 12px 14px;
    cursor: pointer;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
            transition: color 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 -2px #d1d3d2;
}
.tabs--aat li:hover, .tabs--aat li.current {
    color: #cf171f;
    box-shadow: inset 0 -2px #cf171f;
}
.red {
    font-weight: bold;
    color: #cf171f;
}
.tab--aat {
    display: none;
}
.tab--aat.fadeInDownSmall {
    display: block;
}
/***********************************************************
                           POLLS
***********************************************************/
/*Main list*/
.table {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
}
/*Results page*/
@-webkit-keyframes progress-bar {
    0% {
        width: 0;
    }
}
@keyframes progress-bar {
    0% {
        width: 0;
    }
}

.progress-bar {
    width: 0;
    -webkit-animation: progress-bar 2s;
            animation: progress-bar 2s;
}
tr:nth-of-type(1) .progress-bar {
    background-color: #007fff;
}
tr:nth-of-type(2) .progress-bar {
    background-color: #3fb618;
}
tr:nth-of-type(3) .progress-bar {
    background-color: #ff7518;
}
tr:nth-of-type(4) .progress-bar {
    background-color: #f00;
}
tr:nth-of-type(5) .progress-bar {
    background-color: #fc0;
}
tr:nth-of-type(6) .progress-bar {
    background-color: #008080;
}
tr:nth-of-type(7) .progress-bar {
    background-color: #0ff;
}
tr:nth-of-type(8) .progress-bar {
    background-color: #800080;
}
tr:nth-of-type(9) .progress-bar {
    background-color: #f0f;
}
tr:nth-of-type(10) .progress-bar {
    background-color: #c0c0c0;
}
tr:nth-of-type(11) .progress-bar {
    background-color: #800000;
}
tr:nth-of-type(12) .progress-bar {
    background-color: #000080;
}
