# htaccess snippits at https://github.com/phanan/htaccess

RewriteEngine on

################## ucdtramp specific #####################

RewriteRule ^page/([A-Za-z0-9-]+)$ page.php?name=$1 [NC]

RewriteRule ^forum/(\d+)$ forum.php?forum=$1 [NC]
RewriteRule ^forum/edit/(\d+)$ forum.php?edit=$1 [NC]
RewriteRule ^forum/delete/(\d+)$ forum.php?delete=$1 [NC]
RewriteRule ^forum/(\d+)/page/(\d+)$ forum.php?forum=$1&paginationPage=$2 [NC]

RewriteRule ^gallery/([^/.]+)$ gallery.php?eventname=$1 [NC]
RewriteRule ^gallery/([^/.]+)/([^/.]+)$ gallery.php?eventname=$1&image=$2 [NC]

RewriteRule ^polls$ manage_polls.php?show=all [NC]
RewriteRule ^polls/([^/.]+)$ manage_polls.php?poll=$1 [NC]
RewriteRule ^polls/results/([^/.]+)$ manage_polls.php?poll=$1&results=show [NC]

###########################################################

# remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# clean urls 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]