/*@media screen and (max-width:580px) {*/
/* HEADER */
#top { /*Header - UCDTC bg image with men.png ontop. Only as big as men.png. Can't remember why I didnt jsut put it all in one image but oh well. It works...*/
	background-image: url('../images/bkgrnd/header580.jpg');
}
bg { /*wood background + sides + holds container of content*/
	background: url('../images/bkgrnd/sidestop.png') 50% 0 no-repeat,  url('../images/bkgrnd/sidesrepeat.png') 50% 0 repeat-y,  url('../images/bkgrnd/wood580.jpg') 50% 0 repeat-y;
	background-size: 100%, 100%, 80%;
}
#loginhover {
	height:90px;
}
#UCD img {
	width:8%
}
#UCD #bragsnottobeproudof {
	font-size:.3em;
}

#ribbon img{
    top:30%;
    width:200%;
    left:-50%;
}
#welcome{
	padding:.5em;
    top:15%;
    left:5%;
    width:90%;
    font-size:1em;
}
#welcome h2 {
    font-size:1.5em;
}
@media screen and (max-width:400px) {
	#bugbox {
		width:100%;
		border-top-left-radius: 0;
	}
}
#bugs {
	height:5em;
}
/* NEWS */
#slider {
	width: 100%;
}
#notes {
	margin:0px;
	width: 100%
}
#greeting {
	width: 100%;
}
#newslist {
	width: 100%;
}
/*ABOUT*/
#planes{
	width:100%;
}
#sass {
	width:45%;
}
.member img{
	width:60%;
}
.coach {
	width:98%;
	min-height:10px;
	margin:.3em;
}
#fitness img{
	wodth:100%;
}
/*EVENTS*/
.reports, .msc{
	width:100%;
}
#goocal{
	height:300px;	
}
.compsnresults{
	width:50%;
}

.reportsnmsc{
	width:50%;
}
.events_gallery_thumbnail {
	width:40%;
}
/*FORUM*/
#namesubmit{
	width:100%
}
#posttextarea{
	width:100%;
}
.forum_photo {
	width:100%;
}
.forum-vid-container{
	padding-bottom: 56.25%;
	width:100%;	
}
.time {
	width:58%;
}
.ip {
	width:100%;
}
/*GALLERY*/
.gal_preview{
	width:100%;	
}
@media screen and (max-width:465px) { /*so icon-bars dont wrap down a line on iphone 3gs*/
.event_thumbnail{
	width: 100px;
	height: 100px;
}
}
#commentPannel{
	bottom:0px;
	top:auto;
	width:100%;
	height:30%;
	background:#DDD;
	padding:.5em;
}
.photopost{
	display:none;
}
#showHide{
	display:inline;
	width:100%;	
}
.photopost button{
	width:70%;
	margin-right:.5em;
}
/*STUFF*/
.navleft{
	width:100%;	
}
.navright{
	float:left;
	width:100%;
}
#aatimg{
	float:left;
	width:100%;
	padding-right:0px;
	margin-bottom:.5em;	
}
#aatq{
	float:left;
	width:100%
}
.red{
	width:100%;
}
#polls{
	float:none;
	width:100%;
}
/*PAGES*/
#pagecontent{
	padding:.1em .5em .5em .5em;
	margin:0;
}
/*FOOTER*/
#footer{
	margin-bottom: 2em;
}
#footer #links {
	top: 4px;
	width: 100%;
	left: 0;
	font-size:.5em;
	max-height:4em;
}
#links img {
	height: 20px;
}
#links #fb:after {content: "UCDTC";}
#links #youtube:after {content: "ucdtramp";}
#links #const:after {content: "Constitution";}

 /*} End of media query */    