@charset 'utf-8';
body {
    font-family: 'Helvetica', 'Arial';
    width: 100%;
    overflow-x: hidden;
}
a{
    word-wrap: break-word;
}


/***********************************************************
                           HEADER
***********************************************************/
#top {
    /*Header - UCDTC bg image with men.png ontop. Only as big as men.png. Can't remember why I didnt jsut put it all in one image but oh well. It works...*/
    width: 100%;
    height: 100%;
    background-image: url('../images/bkgrnd/header.jpg');
    background-size: 100%;
    z-index: 1;
}
#background {
    /*wood background + sides + holds container of content*/
    position: relative;
    top: -5px;
    /* This makes the top and sides align properly */
    background: url('../images/bkgrnd/sidestop.png') 50% 0 no-repeat,
    url('../images/bkgrnd/sidesrepeat.png') 50% 0 repeat-y,
    url('../images/bkgrnd/wood.jpg') 50% 0 repeat-y;
    background-size: 100%, 100%, 80%;
    /*height: 100%;*/
}
#cont {
    /*contains all content of page*/
    position: relative;
    left: 11%;
    width: 78%;
    height: 100%;
}


/***********************************************************
                           LOGIN
***********************************************************/
#logintab {
    background-image: url('http://www.ucdtramp.com/images/bkgrnd/gray.jpg');
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0.7em;
    padding: 0.4em;
    text-align: center;
    z-index: 2;
    /* prevent disappearing behind background div */
}
#loginheader {
    /* "Committee" */
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    color: yellow;
}
#loginlinks {
    display: none;
    margin-top: 0.2em;
    color: white;
    padding-bottom: 0.1em;
}
#loginlinks a {
    text-decoration: none;
}
#lastedit p {
    /*see editpage.php*/
    color: #999;
    font-size: 0.8em;
}
#UCD img {
    position: absolute;
    left: 1%;
    top: 5px;
    width: 6%;
}
#UCD #bragsnottobeproudof {
    display: none;
    position: absolute;
    right: 1%;
    top: 5px;
    text-align: right;
    font-weight: bold;
}


/*NAV BAR */
nav {
    background-color: #fc0;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    background: rgb(252, 235, 78);
    background: linear-gradient(to bottom, rgba(252, 235, 78, 1) 0%, rgba(255, 204, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fceb4e', endColorstr='#ffcc00', GradientType=0);
    box-shadow: 0 4px 8px 2px rgba(9, 9, 9, 0.4);
    -webkit-border-bottom-left-radius:  0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
       -moz-border-bottom-left-radius:  0.5em;
       -moz-border-bottom-right-radius: 0.5em;
            border-bottom-left-radius:  0.5em;
            border-bottom-right-radius: 0.5em;
}
nav li {
    text-align: center;
    display: inline-block;
    padding: 0.3em;
    margin: 0 2.5% 0 2.5%;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.3em;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}
nav a:hover {
    color: white;
    text-shadow: 2px 2px 7px #000;
}
@media screen and (max-width: 1200px) {
    nav li {
        padding: 0.2em;
        margin: 0 2% 0 2%;
    }
    nav a {
        padding: 0.3em;
    }
}
@media screen and (max-width: 1050px) {
    nav li {
        padding: 0.1em;
        margin: 0 1% 0 1%;
    }
    nav a {
        padding: 0.3em;
    }
}
@media screen and (max-width: 860px) {
    nav li {
        padding: 0.1em;
        margin: 0 1% 0 1%;
    }
    nav a {
        padding: 0.3em 0 0.3em 0;
    }
}
#lastposttime1h {
    /*Horizontal navbar */
    position: absolute;
    right: -21px;
    top: 14px;
    font-weight: normal;
    font-size: 0.7em;
    color: #666;
}
.icon-bar {
    /*3 blocks that display when screen is less than 750, code below*/
    display: block;
    width: 22px;
    height: 2px;
    background-color: #333;
    border-radius: 1px;
}
.icon-bar + .icon-bar {
    margin-top: 4px;
}
#icon-bars:hover .icon-bar {
    background-color: #fff;
}
#navtitle {
    /*collapsed nav bar heading which says just UCD trampoline club*/
    display: none;
    width: 100%;
    text-align: left;
    padding: 0.3em;
}
@media screen and (max-width: 750px) {
    #navtitle {
        display: inline-block;
    }
    nav ul {
        display: none;
    }
    #lastposttime1h {
        display: none;
    }
    nav li {
        float: left;
        width: 45%;
        margin: 0;
        padding: 0;
    }
    nav li:last-child {
        width: 90%;
    }
    #jumptoggle {
        display: none;
    }
}
@media screen and (max-width: 335px) {
    /*make ucd trampoline club smaller so icon-bars dont wrap on iphone 3gs*/
    #navtitle {
        font-size: 0.9em;
    }
}
#lastposttime1v {
    /*Vertical navbar, the normal one*/
    font-size: 0.7em;
    color: #666;
}
#jumptoggle {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 7px;
    top: 8px;
    font-size: 1.2em;
    cursor: pointer;
}


/***********************************************************
                           BUGBOX
***********************************************************/
#bugbox {
    position: fixed;
    bottom: 0;
    right: 0;
    background-image: url('http://www.ucdtramp.com/images/bkgrnd/gray.jpg');
    padding: 0.3em;
    z-index: 15;
    border-top-left-radius: 0.7em;
    cursor: pointer;
    color: white;
}
#bugspan {
    width: 100%;
    display: inline-block;
    text-align: center;
}
#bugs {
    /*textarea inside bugbox*/
    height: 7em;
}


/***********************************************************
                           NEWS
***********************************************************/
.whitebox {
    padding: 0.2em 0.2em 0.2em 0.3em;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0.4em;
    box-shadow: 0 0 8px rgba(9, 9, 9, 0.7);
    margin-bottom: 1em;
    position: relative;
    /*http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
    
}
.whitebox:after {
    /* this is a clearfix hack. It makes floated things play nice.*/
    content: '';
    display: table;
    clear: both;
}
#slider {
    position: relative;
    float: left;
    width: 60%;
}
#notes {
    margin-top: 1em;
    width: 35%;
    float: right;
}
#notes div {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 1em;
}
#greeting {
    float: left;
    clear: both;
    width: 49%;
    padding: 0.5em;
}
#newslist {
    clear: right;
    float: right;
    width: 49%;
}



/***********************************************************
                           ABOUT
***********************************************************/
#planes {
    width: 70%;
}
#sass {
    width: 35%;
    float: right;
}
#committee .nasty {
    display: none;
}
#committee .nice {
    display: block;
}
.member img {
    width: 22%;
    float: left;
    padding-right: 1em;
}
/* Coach section */
.coach {
    display: inline-block;
    width: calc(33% - 2em);
    margin: 1em;
    padding: 0.4em;
}
.coach img {
    width: 40%;
}
.coach-info{
    width: 60%;
    padding-left: 1em;
    float: right;
}
@media screen and (max-width: 1100px) {
    .coach {
        width: calc(50% - 2em);
    }
}
@media screen and (max-width: 760px) {
    .coach {
        width: calc(100% - 2em);
    }
}



/***********************************************************
                           EVENTS
***********************************************************/
#timeline a {
    text-decoration: none;
    font-weight: bold;
}
.rotateanti {
    display: inline-block;
    width: 9%;
            transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Safari and Chrome */
}
.rotateclock {
    display: inline-block;
    width: 9%;
            transform: rotate(20deg);
        -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari and Chrome */
}
.space {
    width: 9%;
    display: inline-block;
}
#goocal {
    height: 600px;
    border-width: 0;
}
.compsnresults {
    width: 33%;
    display: inline-block;
    padding: 0 0.5em 0.5em 0.5em;
    text-align: center;
}
.reportsnmsc {
    width: 66%;
    display: inline-block;
    padding: 0 0.5em 0.5em 0.5em;
    text-align: center;
}
.reports, .msc {
    width: 49%;
    float: left;
}
.events_gallery {
    text-align: center;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}
.events_gallery_thumbnail {
    width: 12%;
    display: inline-block;
    margin: 0.2em 0 0.2em 0;
    position: relative;
}
.events_gallery_thumbnail_caption {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}


/***********************************************************
                           FORUM
***********************************************************/
#forum_header button {
    /*post and search buttons*/
    min-width: 5em;
}
#writepost button, #writepost input {
    /*name message and submit butt*/
    position: relative;
    float: left;
    width: 100%;
}
#namesubmit {
    width: 20%;
    float: left;
    padding: 0.1em;
}
#posttextarea {
    width: 79%;
    height: 3em;
    float: right;
}
#bacon {
    height: 100%;
}
#oldsmilies img {
    max-height: 2em;
}
.details {
    border-bottom: 1px solid #888;
    padding-bottom: 0.2em;
}
.name {
    width: 40%;
    font-weight: 800;
    font-style: italic;
    display: inline-block;
}
.time {
    width: 29%;
    text-align: center;
    color: #666;
    display: inline-block;
}
.ip {
    width: 30%;
    text-align: right;
    display: inline-block;
}
.ip a {
    color: black;
}
.msg {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.nicetime {
    display: inline;
}
.datetime {
    display: none;
}
.like {
    float: right;
    font-size: 0.8em;
    cursor: pointer;
}
.like img {
    height: 1.3em;
}
#active {
    /* makes like button rotate */
    transition: 0.5s;
}
.reply, .replyform {
    width: 98%;
    float: right;
    border-top: 1px solid gray;
    padding: 0.4em;
}
#jump_page {
    text-align: center;
    padding: 1em;
}
#jump_page a {
    display: inline-block;
    width: 3em;
    padding: 5px;
    color: blue;
    text-decoration: none;
    transition: 0.6s;
}
#jump_page a:hover, #active {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
}
.forum_photo {
    width: auto;
    max-width: 100%;
    max-height: 500px;
    display: block;
}


/***********************************************************
                           GALLERY
***********************************************************/
.caption {
    right: 0;
    text-align: left;
    position: absolute;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.3em;
    padding-right: 1.4em;
    background: rgba(0, 0, 0, 0.6) url('http://www.ucdtramp.com/images/msc/comment.png') no-repeat right;
    background-size: 1.2em auto;
    border-bottom-left-radius: 10px;
}
.event_thumbnail {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0.3em;
}
@media screen and (max-width: 620px) {
    .event_thumbnail {
        width: 140px;
        height: 140px;
    }
}
#commentPannel {
    z-index: 8021;
    position: fixed;
    top: 0;
    right: -500px;
    width: 20%;
    height: 100%;
    background: #eee;
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}
#showHide {
    display: none;
}
.photopost button {
    width: 100%;
}


/***********************************************************
                           STUFF
***********************************************************/
.navleft {
    float: left;
    width: 49%;
}
.navright {
    float: right;
    width: 49%;
}
#stuff li {
    display: block;
    float: left;
}
#aatimg {
    display: inline-block;
    float: left;
    width: 49%;
    padding-right: 20px;
}
#aatq {
    display: inline-block;
    float: left;
    width: 49%;
}
.red {
    /*display: inline-block;
    width: 23%;
    padding: .5em;
    font-size: 1.2em;
    color: #cf171f;
    cursor: pointer;*/
}
.question-num-red {
    font-size: 1.2em;
    color: #cf171f;
    font-weight: bold;
}
.answer {
}
.answer a {
    color: blue;
}
#games {
    text-align: center;
}
#games img {
    width: 24%;
    border: 2px solid black;
}
#polls {
    float: left;
    width: 50%;
}
#polls a {
    color: black;
    text-decoration: none;
}
#polls .odd, #polls .even {
    border: solid #000 1px;
    background: #fff;
    padding: 0.4em;
}
#polls .odd {
    background: #eef6ff;
}


/***********************************************************
                           PAGES
***********************************************************/
.nasty {
    display: none;
    padding: 10px;
}
.nice {
    display: block;
    padding: 10px;
}
#pagecontent {
    padding: 0.1em 1em 1em 1em;
    margin-top: 1em;
}


/*MANAGE SCRIPTS(news/poll/stats*/
table.admin {
    border: solid #000 1px;
    border-spacing: 0;
    empty-cells: show;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}
table.admin th {
    border: solid #000 1px;
    padding: 0 5px 0 5px;
    border-bottom: 3px double;
    background: #69f;
    color: #000;
}
table.admin td {
    border: solid #000 1px;
    border-top: 0;
    border-bottom: 0;
    padding: 0 5px 0 5px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
}
table.admin tr.odd td {
    background: #eef6ff;
}
table.admin a {
    color: #000;
}
table.admin {
    background-color: #fff;
    width: 100%;
}


/***********************************************************
                           FOOTER
***********************************************************/
#footer {
    position: relative;
    left: 1px;
    bottom: 5px;
    /*margin-bottom: -18px; Removes most whitespace at bottom of page*/
}
#footer #links {
    position: absolute;
    top: 1.5em;
    width: 80%;
    left: 10%;
}
#footer #links a {
    /*Actual links contained inside these divs */
    display: inline-block;
    position: relative;
    width: 32%;
    color: black;
    text-align: center;
}
#links img {
    height: 55px;
    /*max-height:100% <-- didnt work in safari - Makes imgs relative to container height http://unstoppablerobotninja.com/entry/fluid-images */
}
#links #fb:after {
    content: 'facebook/UCDTC';
}
#links #youtube:after {
    content: 'youtube.com/user/ucdtramp';
}
#links #const:after {
    content: 'Club Constitution';
}
#bighead {
    opacity: 0;
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 42px;
    font-weight: bold;
    -webkit-transition: opacity 1s ease-out;
}
#footer:hover + #bighead {
    opacity: 0.75;
    -webkit-transition: opacity 2s;
}



/*--------- MSC - Below here is general random stuff ----------- */
/*Makes youtube videos fill their container - See more at: http://avexdesigns.com/responsive-youtube-embed/#sthash.OPQ2vzDg.dpuf*/
.video-container, .forum-vid-container {
    position: relative;
    padding-bottom: 56.25%;
    /*16:9 aspect ratio*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.forum-vid-container {
    padding-bottom: 40%;
    padding-top: 1em;
    width: 50%;
}
.video-container iframe, .video-container object, .video-container embed, .forum-vid-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img[alt='emoji'] {
    height: 1.1em;
}
hr {
    background: url('../images/msc/divider.png') no-repeat top center;
    height: 5px;
    width: 99%;
    border: none;
    clear: both;
}
.flex-container {
    /*Was used for Coaches but firefox lacks support so design was changed*/
    /*Is used in gallery*/
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display:  -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    -webkit-flex-flow:       row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack:           distribute;
    justify-content:         space-around;
}
/*---------For making undetectable hyperlinks----------- */
.one:cursor {
    cursor: default;
}
.one:hover {
    text-decoration: none;
    cursor: default;
    color: #000;
}
.one:link, .one:visited, .one:focus, .one:active{
    text-decoration: none;
    color: #000;
}
